
.Dossier{
    color: white;
    display: flex;
    flex-direction: column;
    .info{
        margin-left: 20px;

    }
    button{
        width: 10px;
        margin-left:250px;
        margin-bottom: 10px;
        color: white;
        background-color: transparent;
        border: none;
        outline:none;
        cursor: pointer;
       
    }

}

.couverture{
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    .deplacer{
        z-index: 10;
        margin-top: 15px;
        margin-left: 15px;
        color: rgba(252, 252, 253, 0.589);
        background-color: rgba(121, 121, 121, 0.705);
        width:40px;
        border-radius: 100px;
        text-align: center;
        

    }
    img{
        margin-top: -54px;
    }
   

}
